<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

    <!--引入mongodb配置-->
    <mongo:mongo-client id="mongo" host="${mongodb.host}" port="${mongodb.port}"
                        credentials="${mongodb.user}:${mongodb.password}@${mongodb.database}"/>


    <mongo:db-factory id="mongoDbFactory" dbname="${mongodb.database}" mongo-ref="mongo"/>
    <mongo:template id="mongoTemplate" db-factory-ref="mongoDbFactory"/>

</beans>